:root {
    --primary-color: #10375C;
    --blue-color: #2E80CE;
    --bg-color: #F6FBFF;
}

* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-family: Sens, sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* ==== Common ==== */

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: (100% -48px);
    margin: 0 auto;
}

.btn {
    --height: 60px;
    color: #FFF;
    background-color: var(--blue-color);
    height: var(--height);
    padding: 0 20px;
    display: inline-block;
    border-radius: 30px;
    line-height: var(--height);
    min-width: 205px;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.section__heading {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -1px;
}

.section__desc {
    margin-top: 18px;
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 166.667%;
}

/* ==== Header ====== */
.header--fixed {
    position: sticky;
    top: -24px;
    left: 0;
    z-index: 10000;
}

.header {
    padding-bottom: 8px;
    background-color: var(--primary-color);
    padding-top: 30px;
}

.logo {
    display: inline-flex;
    font-size: 1.1rem;
    position: relative;
}

.logo__circle::after,
.logo__circle::before {
    content: "";
    display: inline-block;
    border-radius: 50%;

}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background-color: var(--blue-color);
}

.logo__circle::after {
    position: absolute;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
    top: 1.1em;
    left: 1.1em;
}

.logo__text {
    color: #FFF;
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__branch {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__branch:last-child {
    font-size: 1.2em;
    font-weight: 300;
}


/* === header top ===== */
.header .container {
    display: flex;
    align-items: center;
}

.navbar {
    margin-right: 180px;
    margin-left: auto;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    position: relative;
}

.navbar__link {
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 175%;
    padding: 4px 21px;
    transition: all ease-out 0.29s;
}

.header-action__btn-login:hover,
.navbar__link:hover,
.navbar__item--active .navbar__link {
    color: #FFF;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__item--active::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #FFF;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    border-radius: 50%;
    width: 6px;
    height: 6px;
}

.header-action {
    display: flex;
}

.header-action__btn-login {
    color: #C9D2DA;
    line-height: 44px;
    padding: 0 21px;
}

.header-action__btn-signup {
    --height: 44px;
    min-width: 104px;
    margin-left: 7px;
}

/*  ==== hero ==== */
.hero {
    background-color: var(--primary-color);
}

.hero .container {

    display: flex;
    padding-top: 24px;
    min-height: calc(100vh - 82px);
    align-items: center;

}

.hero__content {
    width: 44%;
    flex-shrink: 0;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
}

.hero__desc {
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 166.667%;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__phone {
    margin-left: 38px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    margin-right: -6px;
    z-index: 3;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* ==== Service ===== */

.service {
    padding: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.service__desc {
    max-width: 468px;
}

.service-row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service-item {
    display: flex;
    width: 470px;
    height: 128px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    padding: 21px 22px;
    transition: all ease-out 0.29s;
}

.service-item__body {
    flex: 1;
    margin-left: 19px;
}

.service-item__heading {
    color: #10375C;
    font-size: 1.8;
    font-weight: 600;
    line-height: 1.27;
}

.service-item__desc {
    margin-top: 8px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 175%;
}

.service-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    background-color: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    color: #10375C;
}

.service-item:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    position: relative;
}

.service-item:hover .service-item__icon {
    color: #fff;
    background: #2E80CE;
    box-shadow: 0 8px 16px rgba(40, 155, 222, 0.149);
}

.service__list {
    margin-bottom: 55px;
}

/* ==== Work ==== */
.work {
    padding: 100px 0;
    background: #F6FBFF;
}

.work__desc {
    width: 468px;
}

.work__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work__item {
    border-radius: 4px;
    border: 16px solid #EAF6FF;
    padding: 43px 42px;
    transition: all ease-in 0.25s;
}

.work__item:hover {
    border-color: #2E80CE;
    transform: translateY(-16px);
}

.work-item__heading {
    margin-top: 18px;
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.46;
}

.work-item__desc {
    margin-top: 28px;
    color: #575F66;
    font-family: Sora;
    font-size: 16px;
    font-weight: 300;
    line-height: 175%;
}

.work-item__btn {
    display: inline-block;
    margin-top: 18px;
    color: #2E80CE;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 175%;
}

.work__item:hover .work-item__btn {
    font-weight: 400;
    color: #247bcc;
}

/* === feature ==== */

.feature {
    margin-top: 85px;
    padding: 85px 0;
    background: #FFF;
}

.feature__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature__media {
    width: 48%;
}

.feature__images {
    position: relative;
    padding-bottom: 121px;
    padding-right: 58px;
}

.feature__img {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}

.feature__img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
}

.feature__content {
    width: 470px;
}

.feature-cta {
    margin-top: 38px;
}